<br></br>
<br></br>
<body class="text-center">
  <%= form_for @thegossip, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
    <input type="hidden" name="authenticity_token" value="bMTmoFCOomA464dCCb1xBJQVTlmE7MezWQ+YeGHZ5kc3VlANTvaW14cq7Dnz2HHK8QPEQqvaZa6rRE1txNorZg==">
      <p>Titre</br>
        <%= f.text_field :title %>
      </p>

      <p>Auteur</br>
        <%= f.text_field :user %>
      </p>
      
      <p>Gossip</br>
        <%= f.text_area :content %>
      </p>
      
        <%= f.submit "Poster mon Potin" %>
      <% end %>
</body>