<br></br>
<br></br>
<body class="text-center">
    <h2> Vous visionnez le Potin : <%= @gossip.title %></h2>
    <br></br>
    <%= @gossip.content %>
    <br></br>
    <br></br>
    Écrit par : <%= @gossip.user.first_name %>
    <%= @gossip.user.last_name %>
    <br></br>
    Provenance : <%= @gossip.user.city.name %>
    <br></br>
    le : <%= @gossip.created_at %>
    <br></br>
    <a href="<%= user_path(@gossip.user.id) %>" class="btn btn-primary">En savoir plus sur l'auteur</a>
    <a href="<%= city_path(@gossip.user.city.id) %>" class="btn btn-primary">Voir la Ville</a>
    <a href="<%= gossips_path %>" class="btn btn-primary">Revenir a l'acceuil</a>
    <br></br>
    <a href="<%= gossip_path(@gossip.id) %>" <button type="button" class="btn btn-lg  btn-outline-danger" data-confirm="Êtes vous sur de vouloir supprimer ce potin?" data-method="DELETE">Supprimer</button></a>
</body>

