<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipPoject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
    #--NAVBAR
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top justify-content-between bg-dark">
      <a class="navbar-brand" href="<%= gossips_path %>">Super Gossip Project</a>
        <%= link_to "Home", gossips_path %>
        <%= link_to "La Team", team_path %>
        <%= link_to "Contact", contact_path %>
    </nav>

    <main role="main" class="inner cover">
      <%= yield %>
    </main>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
